<nav id="primary-nav" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ "" | absLangURL }}">
            Sawmill
            <img src="" alt="" width="" height="" />
        </a>
        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>
    <div class="navbar-menu" id="nav-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
            {{- range .Site.Menus.main.ByWeight -}}
                {{- if .HasChildren -}}
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                    <div class="navbar-dropdown">
                        {{- range .Children -}}
                            <a class="navbar-link" title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                        {{- end -}}
                    </div>
                </div>
                {{- else -}}
                <a class="navbar-item" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                {{- end -}}
            {{- end -}}
        </div>
    </div>
</nav>