<section class="hero {{ if and .Params.size (eq .Params.size "Big") }}is-medium {{end }}is-bold {{ partial "blocks/meta/background-style" .Params.background_style }}"
{{- with .Params.background_image -}}
{{ safeHTMLAttr (printf "style=%q" (printf "background-image: url(%s)" . )) }}
{{- end -}}>
    <div class="container hero-body">
        {{- with .Params.heading -}}<h1 class="title is-1">{{ markdownify . }}</h1>{{- end -}}
        {{- with .Params.subheading -}}<h2 class="subtitle is-3">{{ markdownify . }}</h2>{{- end -}}
        {{- if and .Params.button_url .Params.button_text -}}
        <a class="button is-primary is-large" href="{{ .Params.button_url }}">{{ .Params.button_text }}</a>
        {{- end -}}
    </div>
</section>