<section class="media-feature section {{ partial "blocks/meta/background-style" .Params.background_style }}
{{- with .Params.image_position -}}
    {{- if eq "Left" . }} media-feature--image-left{{- end -}}
    {{- if eq "Right" . }} media-feature--image-right{{- end -}}
    {{- if eq "Top" . }} media-feature--image-top{{- end -}}
    {{- if eq "Bottom" . }} media-feature--image-bottom{{- end -}}
{{- end -}}">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image {{ if .Params.image_shadow }}media-feature__image--shadow{{ end }}">
                <img src="{{ .Params.image }}" />
            </div>
            <div class="column media-feature__content">
                {{- with .Params.heading -}}
                    <h2 class="title">{{ markdownify . }}</h2>
                {{- end -}}
                {{- with .Params.subheading -}}
                    <h3 class="subtitle">{{ markdownify . }}</h3>
                {{- end -}}
                {{- with .Params.content -}}
                    <div class="content">
                    {{ markdownify . }}
                    </div>
                {{- end -}}
                {{- if and .Params.button_url .Params.button_text -}}
                <a class="button is-primary" href="{{ .Params.button_url }}">{{ .Params.button_text }}</a>
                {{- end -}}
            </div>
        </div>
    </div>
</section>